@{
    ViewData["Title"] = "Home Page";
}


@*<table class="table">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>EmpCountry</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>*@